{% extends "sis_main/dashboard.html" %}
{# source http://bootsnipp.com/snippets/featured/simple-404-not-found-page #}
{% load i18n %}
{% load cache %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "404 Not Found" %}{% endblock %}
{% block content %}
<style>
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>{% trans "Oops!" %}</h1>
                <h2>{% trans "404 Not Found" %}</h2>
                <div class="error-details">
                    {% trans "Sorry, an error has occured. Requested page not found!" %}
                </div>
                <div class="error-actions">
                    <a href="{% url "home" %}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>{% trans "Take Me Home" %}</a>
                    <a href="mailto:brno.pc.man@gmail.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span>{% trans "Contact Support" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}