{% load i18n %}

{% for obj in objs %}
    <div class="alert alert-info" role="alert">
        {{obj}}
        {% if perms.sis_main.delete_announcement %}
          <a href="#" title="{% trans "Delete Announcement" %}" onclick='text="{{obj}}"; DEL("{% url "deleteAnnouncement" obj.pk %}?next={% url 'home' %}", "{% blocktrans %}Are you sure you want to pernamently delete announcement \"" + text +  "\"?{% endblocktrans %}")'>
            <span class="glyphicon glyphicon-trash pull-right remover" aria-hidden="true"></span>
          </a>
        {% endif %}
    </div>
{% endfor %}
