{% extends "sis_main/dashboard.html" %}
{% load i18n %}
{% load static %}
{% load cache %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "About" %}{% endblock %}
{% block content %}
<style> .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
} </style>
<h1> {% trans "About" %}</h1>
<p>{% blocktrans %}
 SIS (School Information System) is modern system for school and education. This system was created by
 Filip Dobrovolný in 2015.
{% endblocktrans %}</p>


<h2> {% trans "Used Technology" %}</h2>
<div class="row">
<div class="col-md-1 vcenter"><a href="https://www.djangoproject.com/" alt="Django">
                       <img src="https://www.djangoproject.com/m/img/logos/django-logo-positive.svg" class="img-responsive img-rounded center-block" alt="Django"></a></div>
<div class="col-md-1 vcenter"><a href="https://www.python.org/" alt="Python">
                       <img src="https://www.python.org/static/community_logos/python-powered-h.svg" class="img-responsive img-rounded center-block" alt="Python"></a></div>
<div class="col-md-1 vcenter"><a href="http://getbootstrap.com" alt="Bootstrap">
                       <img src="http://getbootstrap.com/assets/brand/bootstrap-solid.svg" class="img-responsive img-rounded center-block" alt="Bootstrap"></a></div>
<div class="col-md-1 vcenter"><a href="http://www.w3.org/html/logo/" alt="HTML5">
					   <img src="http://www.w3.org/html/logo/downloads/HTML5_Logo.svg" class="img-responsive img-rounded center-block" alt="HTML5"></a></div>
</div>
{% endblock %}
