{% extends "sis_main/dashboard.html" %}

{% load i18n %}
{% load cache %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Create Thread" %}{% endblock %}

{% block content %}
 <div class="page-header"><h1>{% trans "Create Thread" %} </h1></div>
<form class="form-horizontal" method="post">
  {% csrf_token %}
  {% for err in form.non_field_errors %}
   <div class="alert alert-danger" role="alert">
       <strong>{% trans "Error:" %}</strong>
       {{ err }}
   </div>
  {% endfor %}

  <div class="form-group {% if form.title.errors %} has-error {% endif %}">
    <label for="{{ form.title.id_for_label }}" class="col-sm-2 control-label">{{ form.title.label }}</label>
    <div class="col-sm-10">
      <input class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}" value="{{ form.title.value|default_if_none:"" }}"type="text" placeholder="{% trans "Title" %}" />
      {% for err in form.title.errors %}
        <span id="{{ form.title.html_name }}_error_{{forloop.counter}}" class="help-block">{% trans "ERROR:" %} {{ err }}</span>
      {% endfor %}
    </div>
  </div>

  <div class="form-group {% if form.users.errors %} has-error {% endif %}">
    <label for="{{ form.users.id_for_label }}" class="col-sm-2 control-label">{{ form.users.label }}</label>
    <div class="col-sm-10">
      {% if users != None and users|length > 0 %}
      {% for user in users %}
      <input type="hidden" name="{{ form.users.html_name }}" id="{{ form.users.id_for_label }}" value="{{user.pk}}" />
      {% endfor %}
      <p class="form-control-static">
                    {% for user in users|slice:"5" %}
                        {{ user.full_name }}
                        {% if forloop.last != True and users|length != 1 %},{% endif %}
                    {% endfor %}
                    {% if users|length > 5 %}...{% endif %}
      </p>
      {% elif users != None and users|length_is:"0" %}
      <p class="form-control-static">{% trans "All Classes" %}</p>
      {% else %}
      <select class="selectpicker form-control with-ajax" multiple data-live-search="true" id="{{ form.users.id_for_label }}"
         name="{{ form.users.html_name }}" aria-describedby="{{ form.users.html_name }}_help" ></select>
      <span id="{{ form.users.html_name }}_help" class="help-block">{{ form.users.help_text }}</span>
         {% for err in form.users.errors %}
           <span id="{{ form.users.html_name }}_error_{{forloop.counter}}" class="help-block">{% trans "ERROR:" %} {{ err }}</span>
         {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="form-group {% if form.message.errors %} has-error {% endif %}">
    <label for="{{ form.message.id_for_label }}" class="col-sm-2 control-label">{{ form.message.label }}</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="{{ form.message.id_for_label }}" name="{{ form.message.html_name }}" data-provide="markdown" rows="10" placeholder="{% trans "Some message" %}">{{ form.message.value|default_if_none:"" }}</textarea>
      {% for err in form.message.errors %}
        <span id="{{ form.message.html_name }}_error_{{forloop.counter}}" class="help-block">{% trans "ERROR:" %} {{ err }}</span>
      {% endfor %}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{% trans "Send" %}</button>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static "sis_users/tools.js"%}"></script>
<script>
$.djangocsrf( "enable" );
var options = {
        ajax: {
                url: Urls['ajax_users:list']('all'),
                type: 'POST',
                dataType: 'json',
                // Use {% verbatim %}"{{{q}}}"{% endverbatim %} as a placeholder and Ajax Bootstrap Select will
                // automatically replace it with the value of the search query.
                data: {
                        q: '{% verbatim %}{{{q}}}{% endverbatim %}'
                }
        },
        langCode: '{{ LANGUAGE_CODE }}',
        log: 3,
        preprocessData: function (data) {
                var i, l = data.length, array = [];
                if (l) {
                        for(i = 0; i < l; i++){
                                array.push($.extend(true, data[i], {
                                        text: data[i].Name,
                                        value: data[i].ID,
                                        data: {
                                          subtext: data[i].Username,
                                        }
                                }));
                        }
                }
                // You must always return a valid array when processing data. The
                // data argument passed is a clone and cannot be modified directly.
                return array;
        }
};

$('.selectpicker').selectpicker().filter('.with-ajax').ajaxSelectPicker(options)
</script>
{% endblock %}
