{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% comment %}
       HTML:
       The above 3 meta tags *must* come first in the head
       any other head content must come *after* these tags
       LOADING STUFF:
       For offline development all online files were downloaded into
       "sis_main/static/main/local" uncoment and remove local ones
    {% endcomment %}
    <meta name="description" content="School Information System">
    <meta name="author" content="Filip Dobrovolny, Michal Netolicky">
    {# <link rel="icon" href="http://getbootstrap.com/favicon.ico"> #}
    <link rel="icon" href="{% static "sis_main/local/favicon.ico" %}">

    <title>SIS - {% block title %}{% endblock %}</title>

    {# Bootstrap core CSS #}
    {# <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> #}
    <link href="{% static "sis_main/local/css/bootstrap.min.css" %}" rel="stylesheet">

    {# Font Awsome #}
    {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> #}
    <link rel="stylesheet" href="{% static "sis_main/local/font-awesome.min.css" %}">

    {# X-editable CSS #}
    {# <link href="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/> #}
    <link rel="stylesheet" href="{% static "sis_main/local/bootstrap-editable.css" %}">


    {# Bootstrap-Select #}
    {# <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css" rel="stylesheet"/> #}
    <link rel="stylesheet" href="{% static "sis_main/local/bootstrap-select.min.css" %}">

    {# Ajax-Bootsrap-Select #}
    <link rel="stylesheet" href="{% static "sis_main/ajax-bootstrap-select.css" %}"/>

    {# Bootsrap-Markdown #}
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.9.0/css/bootstrap-markdown.min.css"/> #}
    <link rel="stylesheet" href="{% static "sis_main/local/bootstrap-markdown.min.css" %}"/>

    {# Custom styles for templates #}
    {% block css %}{% endblock %}

    {# HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries #}
    <!--[if lt IE 9]>
      {# <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> #}
      <script src="{% static "sis_main/local/html5shiv.min.js" %}"></script>
      {# <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> #}
      <script src="{% static "sis_main/local/respond.min.js" %}"></script>
    <![endif]-->
  </head>


  <body>
    {% block body %} {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> #}
    <script src="{% static "sis_main/local/jquery.min.js" %}"></script>
    {# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> #}
    <script src="{% static "sis_main/local/bootstrap.min.js" %}"></script>
    <!-- bootbox -->
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script> #}
    <script src="{% static "sis_main/local/bootbox.min.js" %}"></script>
    <!-- x-editable -->
    {# <script src="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script> #}
    <script src="{% static "sis_main/local/bootstrap-editable.min.js" %}"></script>
    <!-- bootstrap-select -->
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js"></script> #}
    <script src="{% static "sis_main/local/bootstrap-select.min.js" %}"></script>
    <!-- ajax-bootstrap-select -->
    <script type="text/javascript" src="{% static "sis_main/ajax-bootstrap-select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sis_main/ajax-bootstrap-select.cs.js" %}"></script>
    <!-- CSRF token protection -->
    {# <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js"></script> #}
    <script type="text/javascript" src="{% static "sis_main/local/jquery.cookie.min.js" %}"></script>
    <script src="{% static "sis_main/jquery.djangocsrf-0.1.1.min.js" %}"></script>
    <!-- JS-REVERSE -->
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "sis_main/ie10-viewport-bug-workaround.js" %}"></script>
    <!-- Markdown-js -->
    <script src="{% static "sis_main/markdown.min.js" %}"></script>
    <!-- Bootstrap-Markdown -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.9.0/js/bootstrap-markdown.min.js"></script>
    <script src="{% static "sis_main/local/bootstrap-markdown.min.js" %}"></script>
    {% block base_scripts %}{% endblock %}
    {% block scripts %}{% endblock %}

    <svg style="visibility: hidden; position: absolute; top: -100%; left: -100%;" preserveAspectRatio="none" viewBox="0 0 200 200" height="200" width="200"><defs></defs><text style="font-weight:bold;font-size:10pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle" y="10" x="0">200x200</text></svg>
  </body>
</html>
