{% extends "sis_main/base.html" %}

{% load i18n %}
{% load static %}
{% load cache %}
{% load announ %}

{% get_current_language as LANGUAGE_CODE %}

{% block css %}
  <link href="{% static "sis_main/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
  {% include "sis_main/nav_top.html" %}
  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

      <div class="col-xs-6 col-sm-3 col-md-2 sidebar sidebar-offcanvas">
        {% include "sis_main/nav.html" %}
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block content %}
          <h1 class="page-header">{% trans "Hello World!"%}</h1>

          <!--Announcements begin-->
          {% announce %}
          <!--Announcements end-->

          {% lorem 3 p %}
        {% endblock %}
      </div>

    </div>
  </div>
{% endblock %}

{% block base_scripts %}
  <script src="{% static "sis_main/dashboard.js" %}"></script>
  <script src="{% static "sis_users/tools.js" %}"></script>
{% endblock %}
