{% extends "sis_main/dashboard.html" %}

{% load i18n %}
{% load cache %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Messages" %}{% endblock %}

{% block content %}
<div class="page-header"><h1>{% trans "Messages"%} </h1></div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Created" %}</th>
      <th>{% trans "Last Message" %}</th>
      <th class="text-center" >{% trans "Action" %}</th>
    </tr>
  </thead>

  <tbody>
    {% if participant %}
      {% for part in pagination %}
        {% with thread=part.thread lastMessage=part.thread.lastMessage%}
        <tr class="{% if thread.isLocked %}warning{% endif %}">
          <td><a href="{% url "showThread" thread.pk %}?page=1">{{ thread.title }}</a></td>
          {% cache 86400 thread__original_poster thread.pk LANGUAGE_CODE %}
          <td>{% with originalPoster=thread.originalPoster %}
            {% if originalPoster != None %}
            <a href="{% url "showUser" originalPoster.pk %}">
            {{ originalPoster.info.full_name }}</a>
             - {{ thread.createdAt|date:"SHORT_DATE_FORMAT" }}
             {% endif %}
            {% endwith %}
          </td>
          {% endcache %}
          <td {% with unread=part.unread%}{% if unread %}class="info"{% endif %}>
            {% if unread %}<strong>{% trans "NEW"%}:</strong>{% endif %}{% endwith %}
              {% with lastMessageUser=lastMessage.participant.user%}
              <a href="{% url "showUser" lastMessageUser.pk %}"> {{ lastMessageUser.info.full_name }}</a> -
              {% endwith %}
              <a href="{% url "showThread" thread.pk %}">
                {{ lastMessage.createdAt|date:"SHORT_DATETIME_FORMAT" }}
                  {% if part.thread.lastMessage.title %}
                    {{ lastMessage.title }}
                  {% else %}
                    {{ lastMessage.text|truncatechars:30 }}
                  {% endif %}</a>
          </td>
          <td class="text-center">
            <a href="#" title="{% trans "Leave Thread" %}" onClick="DEL_leave('{% url "ajax_main:relThreadParticipant" thread.pk part.pk "remove" %}', '{{ thread.title }}')">
              <span class="glyphicon glyphicon-minus text-danger" aria-hidden="true"></span>
            </a>
            {% if part.isAdmin or perms.sis_main.change_thread %}
              <a href="{% url "showThreadMeta" thread.pk %}" title="{% trans "Edit Thread" %}">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
            {% endif %}
          {% if perms.sis_main.delete_thread %}
              <a href="#" title="{% trans "Delete Thread" %}" onClick="DEL_delete('{% url "deleteThread" thread.pk %}', '{{ thread.title }}')">
                <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></span>
              </a>
          {% endif %}
          </td>
        </tr>
        {% endwith %}
      {% endfor %}

    {% else %}
      {% for thread in pagination %}
        <tr class="{% if thread.isLocked %}warning{% endif %}">
          <td><a href="{% url "showThread" thread.pk %}?page=1">{{ thread.title }}</a></td>
          <td>{% if thread.originalPoster %}
            <a href="{% url "showUser" thread.originalPoster.pk %}">
              {{ thread.originalPoster.info.full_name }}
            </a>
             - {{ thread.createdAt|date:"SHORT_DATE_FORMAT" }}{% endif %}
          </td>
          <td><a href="{% url "showThread" thread.pk %}">
            {{ thread.lastMessage.participant.info.full_name }}
            {{ thread.lastMessage.createdAt|date:"SHORT_DATETIME_FORMAT" }}
            {% if part.thread.lastMessage.title %}
              {{ thread.lastMessage.title }}
            {% else %}
              {{ thread.lastMessage.text|truncatechars:30 }}
            {% endif %}</a>
          </td>
          <td class="text-center">
            {% if perms.sis_main.change_thread %}
              <a href="{% url "showThreadMeta" thread.pk %}" title="{% trans "Edit Thread" %}">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
            {% endif %}
            {% if perms.sis_main.delete_thread %}
              <a href="#" title="{% trans "Delete Thread" %}" onClick="DEL_delete('{% url "deleteThread" thread.pk %}', '{{ thread.title }}')">
                <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></span>
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>

{% if pagination.has_other_pages %}{% include "sis_tools/paginator.html" %}{% endif %}

{% if perms.sis_main.add_thread %}
  <a href="{% url "addThread" %}" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus icon-white" aria-hidden="true"></span>
    {% trans "Add Thread" %}
  </a>
{% endif %}

{% if perms.sis_main.change_thread or perms.sis_main.delete_thread %}
  {% if participant %}
    <a href="{% url "listThreads" %}?all=true" class="btn btn-primary">
      <span class="glyphicon glyphicon-align-justify icon-white" aria-hidden="true"></span>
      {% trans "Show All" %}
    </a>
  {% else %}
    <a href="{% url "listThreads" %}" class="btn btn-primary">
      <span class="glyphicon glyphicon-inbox icon-white" aria-hidden="true"></span>
      {% trans "Show my Threads" %}
    </a>
  {% endif %}
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static "sis_users/tools.js"%}"></script>
<script>
  function DEL_delete(url, name) { DEL(url, {% blocktrans %}"Are you sure you want to delete thread \"" + name +  "\"?"{% endblocktrans %})}
  function DEL_leave(url, name) { DEL(url, {% blocktrans %}"Are you sure you want to leave thread \"" + name +  "\"?"{% endblocktrans %})}
</script>
{% endblock %}
