﻿{% extends "sis_main/dashboard.html" %}

{% load i18n %}
{% load cache %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "List of announcements" %}{% endblock %}

{% block content %}
  <div class="page-header"><h1>{% trans "List of announcements"%} </h1></div>

{% cache 86400 delete_message_announcement LANGUAGE_CODE request.GET.del %}
    {% if request.GET.del %}
      <div class="alert alert-success" role="alert">
        <strong>{% trans "Success" %}:</strong>
        {% trans "Announcement has been successfully deleted." %}
      </div>
    {% endif %}
{% endcache %}


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>{% trans "Text" %}</th>
      <th>{% trans "Creation time" %}</th>
      <th>{% trans "Shown" %}</th>
      {% if perms.sis_main.delete_announcement %}
        <th class="text-center" >{% trans "Action" %}</th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for announcement in pagination %}
      <tr>
        <td><a href="{% url "showAnnouncement" announcement.pk %}">{{ announcement.text|truncatechars:100 }}</a></td>
        <td><a href="{% url "showAnnouncement" announcement.pk %}">{{ announcement.creation_time }}</a></td>
        <td><a href="#" id="shower" data-value="{{ announcement.show|yesno:"1,0" }}" data-type="select" data-url="{% url "editAnnouncement" announcement.pk %}" class="shower" ></a></td>
        {% if perms.sis_main.delete_announcement %}
          <td class="text-center">
            <a href="#" onClick="DEL('{% url "deleteAnnouncement" announcement.pk %}')" title="{% trans "Delete Announcement" %}">
              <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></span>
            </a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if pagination.has_other_pages %}{% include "sis_tools/paginator.html" %}{% endif %}

{% if perms.sis_main.add_announcement %}
  <a href="#" class="btn btn-primary" onClick="bootbox.prompt('{% trans "Enter text of Announcement:"%}', addAnnouncementBootboxCallback);">
    <span class="glyphicon glyphicon-plus icon-white" aria-hidden="true"></span>
    {% trans "Add Announcement" %}
  </a>
{% endif %}

{% endblock %}
{% block scripts %}
<script src="{% static "sis_users/tools.js"%}"></script>
<script>
  $.djangocsrf("enable");
  function addAnnouncementBootboxCallback (result) {
    if (result !== null){
       	$.post('{% url "addAnnouncement" %}', { text : result }, addAnnouncementAJAXcallback);
    }
  }
  function addAnnouncementAJAXcallback (resp, status){
    if (status == 'success') {
       	window.location.href = "{% url "showAnnouncement" 0 %}" + resp.ID;
    } else {
       	bootbox.alert("{% trans "ERROR: Can't add Announcement. error: " %}" + resp);
    }
  }

  function DEL(url){
    bootbox.confirm({% blocktrans %}"Are you sure you want to delete this announcement?"{% endblocktrans %}, function(result) {
      if (result) {
        window.location.href = url;
      }
    });
  }
 $(document).ready(function() {
    $('.shower').editable({
        pk: 1,
        source: [
              {value: 0, text: '{% trans "Hidden" %}'},
              {value: 1, text: '{% trans "Shown" %}'},
           ]
    });
});

</script>
{% endblock %}
