{% load i18n %}
{% load cache%}
{% load messages %}

{% get_current_language as LANGUAGE_CODE %}

{% comment %}
   Navigace - aktivace jednotlive skupiny pomoci tridy "in"
   Skupina - aktivace pomoci tridy "info"
   var active - otevření jednotlivé skupiny ID od 0
   var subactive - podbarvení jednotlivé položky ve skupině ID od 0 (v rámci třídy)
{% endcomment %}

{% cache 30 sidemenu LANGUAGE_CODE request.user.pk active subactive %}
  <div class="panel-group" id="accordion">

    {# Uvodni panel #}
    {% cache 86400 sidemenu_main active subactive LANGUAGE_CODE %}
      <div class="panel {% if active == 0 %} panel-primary {% else %} panel-default {% endif %}">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
             <span class="glyphicon glyphicon-folder-close"></span>
             {% trans "Main" %}
            </a>
          </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse {% if active == 0 %} in {% endif %}">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td {% if active == 0 and subactive == 0 %}class="info"{% endif %}>
                  <span class="glyphicon glyphicon-pencil text-primary"></span>
                  <a href="{% url "home" %}">{% trans "Main Page"%}</a>
                </td>
             </tr>
    {% endcache %}
             <tr>
               <td {% if active == 0 and subactive == 2 %}class="info"{% endif %}>
                 <span class="glyphicon glyphicon-envelope text-primary"></span>
                 {% count_unread_messages as num %}
                 <a href="{% url "listThreads" %}">{% trans "Messages"%}{% if num > 0 %} <span class="badge">{{num}}</span>{% endif %}</a>
               </td>
            </tr>
              {% if perms.sis_main.add_announcement or perms.sis_main.edit_announcement or perms.sis_main.change_announcement %}
                <tr>
                  <td {% if active == 0 and subactive == 1 %}class="info"{% endif %}>
                    <span class="glyphicon glyphicon-bullhorn text-primary"></span>
                    <a href="{% url "listAnnouncements" %}">{% trans "Announcements"%}</a>
                  </td>
                </tr>
              {% endif %}
              {% if request.user.is_staff %}
                <tr>
                  <td>
                    <span class="glyphicon glyphicon-equalizer text-primary"></span>
                    <a href="{% url "admin:index" %}">{% trans "Admin Site"%}</a>
                  </td>
                </tr>
              {% endif %}
            </table>
          </div>
        </div>
      </div>



    {# TADY PRIDAVAT OSTATNI MODULY #}

    {% include "sis_users/nav.html" %}

    {% include "sis_classes/nav.html" %}
    
    {% include "sis_grades/nav.html" %}

  </div>
{% endcache %}
