{% load i18n %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" style="height: 34px; width: 44px;" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-cog icon-white center" aria-hidden="true" style="color: #fff"></span>
      </button>
      <button type="button" data-toggle="offcanvas" class="visible-xs navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "home" %}">SIS</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
       <li>
       <form action="{% url 'set_language' %}" method="post" class="form-inline language-selector-form">
                {% csrf_token %}
    		<input name="next" type="hidden" value="{{ redirect_to }}" />
    		<div class="form-group">
    		<select name="language" id="language" class="form-control language-selector-select">
        		{% get_current_language as LANGUAGE_CODE %}
        		{% get_available_languages as LANGUAGES %}
        		{% get_language_info_list for LANGUAGES as languages %}
        		{% for language in languages %}
            		<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                		{{ language.name_local }} ({{ language.code }})
           		 	</option>
       			{% endfor %}
    		</select>
    		</div>
		</form>
		</li>
		<li><a href="{% url "showUser" user.id %}">{{ user.info.full_name }}</a></li>
        <li><a href="#">{% trans "Settings" %}</a></li>
        <li><a href="{% url "logout" %}">{% trans "Log out" %}</a></li>
        <li><a href="#">{% trans "Help" %}</a></li>
        <li><a href="{% url "about"%}">{% trans "About" %}</a></li>
      </ul>
    </div>
  </div>
</nav>
