﻿{% extends "sis_main/dashboard.html" %}

{% load i18n %}
{% load cache %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Announcement" %}: {{ obj.text|truncatechars:20 }}{% endblock %}

{% block content %}
 <div class="page-header"><h1>{% trans "Announcement" %}: {{ obj.text|truncatechars:25 }}</h1></div>

 <table class="table">
   <tbody>
     <tr>
       <td>{% trans "Text" %}:</td>
       <td>{% if perms.sis_main.edit_announcement %}
             <a href="#" id="name" data-type="text" data-pk="1" data-emptytext="{% trans "Empty" %}" data-url="{% url "editAnnouncement" obj.pk %}" data-title="{% trans "Text"%}">{{ obj.text }}</a>
           {% else %}{{ obj.text }}{% endif %}</td>
     </tr>
     <tr>
       <td>{% trans "Creation time" %}:</td>
       <td>{{ obj.creation_time|date:"DATETIME_FORMAT" }}</td>
     </tr>
     <tr>
        <td>{% trans "Shown" %}:</td>
        <td>
            <a href="#" id="shower" data-value="{{ obj.show|yesno:"1,0" }}" data-type="select" data-url="{% url "editAnnouncement" obj.pk %}" class="shower" ></a>
        </td>
     </tr>
   </tbody>
 </table>

 {% if perms.sis_main.delete_announcement %}
  <button type="button" class="btn btn-danger" onClick="DEL_Annoucement('{% url "deleteAnnouncement" obj.id %}',  '{{ obj.text|truncatechars:50 }}')" >
    <span class="glyphicon glyphicon-trash icon-white" aria-hidden="true"></span>
    {% trans "Delete" %}
  </button>
 {% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static "sis_users/tools.js"%}"></script>
<script>
  $.djangocsrf( "enable" );
  function DEL_Annoucement(url, name) { DEL(url, {% blocktrans %}"Are you sure you want to delete \"" + name +  "\" ?"{% endblocktrans %})}
  $(document).ready(function() {
    $('.shower').editable({
        pk: 1,
        source: [
              {value: 0, text: '{% trans "Hidden" %}'},
              {value: 1, text: '{% trans "Shown" %}'},
           ]
    });
    $('#name').editable();
});
</script>
{% endblock %}
