{% extends "sis_main/dashboard.html" %}

{% load i18n %}
{% load cache %}
{% load static %}

{# snippet http://bootstrap.snipplicious.com/snippet/9/forum-posts #}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Thread" %}: {{ thread.title }}{% endblock %}

{% block content %}
  <div class="page-header"><h1>{% trans "Thread" %}: {{ thread.title }}</h1></div>
  <ul class="media-list forum">
    {% with rettile="RE: "|add:thread.title %}
    {% for msg in pagination %}
      <!-- Forum Post -->
      <li class="media well {% if msg.participant.user.pk == participant.user.pk %} well-info {% endif %}">
        <div class="pull-left user-info" href="#">
          <img class="avatar img-circle img-thumbnail" src="http://snipplicious.com/images/guest.png"
            width="64" alt="Generic placeholder image">
          <strong><a href="{% url "showUser" msg.participant.user.pk %}">{{ msg.participant.user.info.full_name }}</a></strong>
          <br>
          <small>
            {% with msg.participant.user as userObj %}
              {% cache 864000 sis_users__types LANGUAGE_CODE userObj %}
      				  {% if userObj.student %}    <span class="glyphicon glyphicon-education" aria-hidden="true"></span> {% trans "Student" %}  {% endif %}
      			 	  {% if userObj.teacher %}    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>      {% trans "Teacher" %}  {% endif %}
      				  {% if userObj.parent %}     <span class="glyphicon glyphicon-home" aria-hidden="true"></span>      {% trans "Parent" %}   {% endif %}
      				  {% if userObj.tos %}        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>      {% trans "Employee" %} {% endif %}
      				  {% if userObj.is_staff %}   <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>    {% trans "Admin" %}    {% endif %}
      			  {% endcache %}
            {% endwith %}
          </small>
          <br>
          {{ msg.createdAt|date:'DATETIME_FORMAT' }}
          <br>
          {% comment %}{# what should be here? #}
          <small class="btn-group btn-group-xs">
            <a class="btn btn-default"><i class="fa fa-thumbs-o-up"></i></a>
            <a class="btn btn-default"><i class="fa fa-thumbs-o-down"></i></a>
            <strong class="btn btn-success">+451</strong>
          </small>{% endcomment %}
        </div>
        <div class="media-body">
          {% comment %}<!-- Post Info Buttons -->
          <div class="forum-post-panel btn-group btn-group-xs">
            <a href="#" class="btn btn-default"><i class="fa fa-clock-o"></i> Posted 3 weeks ago</a>
            <a href="#" class="btn btn-danger"><i class="fa fa-warning"></i> Report post</a>
          </div>
          <!-- Post Info Buttons END -->{% endcomment %}
          <h4 style="margin-top: 0px; margin-bottom: 5px;">{{ msg.title|default:rettile }}</h4>
          <hr style="margin-top: 0px;"></hr>
          <!-- MARKDOWN Post Text -->
          <div class="MARKDOWN">{{ msg.text }}</div>
          <!-- MARKDOWN Post Text EMD -->
        </div>
      </li>
      <!-- Forum Post END -->
    {% endfor %}
    {% endwith %}
  </ul>

  {% if pagination.has_other_pages %}{% include "sis_tools/paginator.html" %}{% endif %}

  {% if form != None %}
  <h2>{% trans "Add Message" %}</h2>
  <form method="post" class="form">
    {% csrf_token %}
    {% for err in form.non_field_errors %}
     <div class="alert alert-danger" role="alert">
         <strong>{% trans "Error:" %}</strong>
         {{ err }}
     </div>
    {% endfor %}
    <div class="form-group {% if form.title.errors %} has-error {% endif %}">
      <label class="sr-only" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
      <input class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}" value="{{ form.title.value|default_if_none:"" }}"type="text" placeholder="{% trans "Title" %}" />
      {% for err in form.title.errors %}
        <span id="{{ form.title.html_name }}_error_{{forloop.counter}}" class="help-block">{% trans "ERROR:" %} {{ err }}</span>
      {% endfor %}
    </div>
    <div class="form-group {% if form.text.errors %} has-error {% endif %}">
      <label class="sr-only" for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
      <textarea class="form-control" id="{{ form.text.id_for_label }}" name="{{ form.text.html_name }}" data-provide="markdown" rows="10" placeholder="{% trans "Some message" %}"></textarea>
      {% for err in form.text.errors %}
        <span id="{{ form.text.html_name }}_error_{{forloop.counter}}" class="help-block">{% trans "ERROR:" %} {{ err }}</span>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-default">{% trans "Send" %}</button>
  </form>
  {% endif %}
  <br>
  {% if participant.isActive %}
    <button type="button" class="btn btn-danger" title="{% trans "Leave thread" %}" onClick="DEL('{% url "ajax_main:relThreadParticipant" thread.pk participant.pk "remove" %}', '{{ thread.title }}')">
      <span class="glyphicon glyphicon-minus icon-white" aria-hidden="true"></span> {% trans "Leave thread" %}
    </button>
  {% endif %}
  {% if perms.sis_main.change_thread or request.user.is_superuser or participant.isAdmin %}
  <a href="{% url "showThreadMeta" thread.pk %}" title="{% trans "Edit Thread" %}">
    <button type="button" class="btn btn-primary">
      <span class="glyphicon glyphicon-cog icon-white" aria-hidden="true"></span> {% trans "Edit Thread" %}
    </button>
  </a>
  {% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static "sis_users/tools.js"%}"></script>
<script>
function DEL_leave(url, name) { DEL(url, {% blocktrans %}"Are you sure you want to leave thread \"" + name +  "\"?"{% endblocktrans %})}
$(document).ready(function() {
  $(".MARKDOWN").each(function() {
      $(this).replaceWith(markdown.toHTML($(this).html()))
  });
});
</script>
{% endblock %}
