{% extends "sis_main/dashboard.html" %}

{% load i18n %}
{% load cache %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Thread" %}: {{ obj.title }}{% endblock %}

{% block content %}
<div class="page-header"><h1>{% trans "Thread" %}: {{ obj.title }}</h1></div>
<table class="table">
  <tbody>
    <tr>
      <td>{% trans "Title" %}:</td>
      <td>{% if  perms.sis_main.change_thread or part.isAdmin %}
            <a href="#" id="title" data-type="text" data-pk="1" data-emptytext="{% trans "Empty" %}" data-url="{% url "editThread" obj.pk %}" data-title="{% trans "Title"%}">{{ obj.title }}</a>
          {% else %}{{ obj.title }}{% endif %}</td>
    </tr>
    {% cache 864000 thread__edit__org_postr_time obj.pk LANGUAGE_CODE%}
    <tr>
      <td>{% trans "Creation time" %}:</td>
      <td>{{ obj.createdAt|date:"SHORT_DATE_FORMAT" }}</td>
    </tr>
    <tr>
      <td>{% trans "Created by" %}:</td>
      <td>{% with originalPoster=obj.originalPoster %}
        {% if originalPoster %}
        <a href="{% url "showUser" originalPoster.pk %}">
        {{ originalPoster.info.full_name }}</a>{% endif %}
        {% endwith %}</td>
    </tr>
    {% endcache %}
    <tr>
      <td>{% trans "Messages" %}</td>
      <td>{{ obj.messages.count }}</td>
    </tr>
    <tr>
      <td>{% trans "Participants" %}</td>
      <td>{{ obj.participants.count }}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  {% if  perms.sis_main.change_thread or part.isAdmin %}
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Add User" %}</h3>
        </div>

        <div class="panel-body" style="padding: 15px">
          {% trans "User:" %} <select id="ajax-select" class="selectpicker with-ajax" multiple data-live-search="true"></select>
          <button id="ajax-select-add" type="button" class="btn btn-primary btn-sm adder-buttons"><i class="glyphicon glyphicon-ok"></i></button>
          <button id="ajax-select-clear" type="button" class="btn btn-danger btn-sm adder-buttons"><i class="glyphicon glyphicon-trash"></i></button>
        </div>
      </div>
    </div>
  {% endif %}
</div>

<h2>{% trans "Users" %}</h2>
<table class="table table-striped">
  <tbody>
    {% for participant in pagination %}
      {% if forloop.last %}
        {% if forloop.counter|divisibleby:"2" %}
            <td>{% if participant.isActive != True %}<s>{%endif%}
              {% with user=participant.user info=participant.user.info %}
                <a href="{% url "showUser" user.id %}"> {{ info.full_name }}</a>
                {% if participant.isActive == True %}
                  {% if  perms.sis_main.change_thread or part.isAdmin %}
                    <a href="#" title="{% trans "Remove user from Thread" %}" onClick="DEL_remove('{% url "ajax_main:relThreadParticipant" obj.pk participant.pk "remove" %}', '{{ info.full_name }}')">
                      <span class="glyphicon glyphicon-minus remover" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                {% else %}
                  {% if  perms.sis_main.change_thread or part.isAdmin %}
                    <a href="#" title="{% trans "Re-add user to Thread" %}" onClick="DEL_reinvite('{% url "ajax_main:relThreadParticipant" obj.pk participant.pk "reinvite" %}', '{{ info.full_name }}')">
                      <span class="glyphicon glyphicon-plus adder" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                {% endif %}
              {% endwith %}{% if participant.isActive != True %}</s>{%endif%}
            </td>
          </tr>
        {% else %}
          <tr>
            <td>{% if participant.isActive != True %}<s>{%endif%}
              {% with user=participant.user info=participant.user.info %}
                <a href="{% url "showUser" user.id %}"> {{ info.full_name }}</a>
                {% if participant.isActive == True %}
                  {% if  perms.sis_main.change_thread or part.isAdmin %}
                    <a href="#" title="{% trans "Remove user from Thread" %}" onClick="DEL_remove('{% url "ajax_main:relThreadParticipant" obj.pk participant.pk "remove" %}', '{{ info.full_name }}')">
                      <span class="glyphicon glyphicon-minus remover" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                {% else %}
                  {% if  perms.sis_main.change_thread or part.isAdmin %}
                    <a href="#" title="{% trans "Re-add user to Thread" %}" onClick="DEL_reinvite('{% url "ajax_main:relThreadParticipant" obj.pk participant.pk "reinvite" %}', '{{ info.full_name }}')">
                      <span class="glyphicon glyphicon-plus adder" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                {% endif %}
              {% endwith %}{% if participant.isActive != True %}</s>{%endif%}
            </td>
            <td></td>
          </tr>
        {% endif %}
      {% else %}
        {% if forloop.counter|divisibleby:"2" %}
          <td>{% if participant.isActive != True %}<s>{%endif%}
            {% with user=participant.user info=participant.user.info %}
              <a href="{% url "showUser" user.id %}"> {{ info.full_name }}</a>
              {% if participant.isActive == True %}
                {% if  perms.sis_main.change_thread or part.isAdmin %}
                  <a href="#" title="{% trans "Remove user from Thread" %}" onClick="DEL_remove('{% url "ajax_main:relThreadParticipant" obj.pk participant.pk "remove" %}', '{{ info.full_name }}')">
                    <span class="glyphicon glyphicon-minus remover" aria-hidden="true"></span>
                  </a>
                {% endif %}
              {% else %}
                {% if  perms.sis_main.change_thread or part.isAdmin %}
                  <a href="#" title="{% trans "Re-add user to Thread" %}" onClick="DEL_reinvite('{% url "ajax_main:relThreadParticipant" obj.pk participant.pk "reinvite" %}', '{{ info.full_name }}')">
                    <span class="glyphicon glyphicon-plus adder" aria-hidden="true"></span>
                  </a>
                {% endif %}
              {% endif %}
            {% endwith %}{% if participant.isActive != True %}</s>{%endif%}
          </td>
         </tr>
        {% else %}
          <tr>
            <td>{% if participant.isActive != True %}<s>{%endif%}
              {% with user=participant.user info=participant.user.info %}
                <a href="{% url "showUser" user.id %}"> {{ info.full_name }}</a>
                {% if participant.isActive == True %}
                  {% if user.pk == request.user.pk or  perms.sis_main.change_thread or part.isAdmin and participant.isAdmin != True or request.user.pk == thread.originalPoster.pk %}
                    <a href="#" title="{% trans "Remove user from Thread" %}" onClick="DEL_remove('{% url "ajax_main:relThreadParticipant" obj.pk participant.pk "remove" %}', '{{ info.full_name }}')">
                      <span class="glyphicon glyphicon-minus remover" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                {% else %}
                  {% if  perms.sis_main.change_thread or part.isAdmin %}
                    <a href="#" title="{% trans "Re-add user to Thread" %}" onClick="DEL_reinvite('{% url "ajax_main:relThreadParticipant" obj.pk participant.pk "reinvite" %}', '{{ info.full_name }}')">
                      <span class="glyphicon glyphicon-plus adder" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                {% endif %}
              {% endwith %}{% if participant.isActive != True %}</s>{%endif%}
            </td>
        {% endif %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>

{% if  perms.sis_main.change_thread or part.isAdmin %}
<button type="button" class="btn btn-danger" title="{% trans "Delete thread" %}" onClick="DEL_delete('{% url "deleteThread" obj.pk %}', '{{ obj.title }}')">
  <span class="glyphicon glyphicon-trash icon-white" aria-hidden="true"></span> {% trans "Delete Thread" %}
</button>
{% endif %}
<a class="btn btn-primary" href="{% url "showThread" obj.pk %}">
  <span class="glyphicon glyphicon-list icon-white" aria-hidden="true"></span> {% trans "Show Thread Messages" %}
</a>

{% endblock %}

{% block scripts %}
<script src="{% static "sis_users/tools.js"%}"></script>
<script>
$.djangocsrf( "enable" );
  function DEL_remove(url, name) { DEL(url, {% blocktrans %}"Are you sure you want to remove user \"" + name +  "\" from this thread?"{% endblocktrans %})}
  function DEL_delete(url, name) { DEL(url, {% blocktrans %}"Are you sure you want to delete thread \"" + name +  "\"?"{% endblocktrans %})}
  function DEL_reinvite(url, name) { DEL(url, {% blocktrans %}"Are you sure you want to readd user \"" + name +  "\" to this thread?"{% endblocktrans %})}
  $.fn.editable.defaults.mode = 'inline';
$(document).ready(function() {
  $('#title').editable();
});

var options = {
    ajax: {
        url: Urls['ajax_users:list']('all'),
        type: 'POST',
        dataType: 'json',
        // Use {% verbatim %}"{{{q}}}"{% endverbatim %} as a placeholder and Ajax Bootstrap Select will
        // automatically replace it with the value of the search query.
        data: {
                q: '{% verbatim %}{{{q}}}{% endverbatim %}'
        }
    },
    langCode: '{{ LANGUAGE_CODE }}',
    log: 3,
    preprocessData: function (data) {
        var i, l = data.length, array = [];
        if (l) {
            for(i = 0; i < l; i++){
                array.push($.extend(true, data[i], {
                    text: data[i].Name,
                    value: data[i].ID,
                    data: {
                    }
                }));
            }
        }
        // You must always return a valid array when processing data. The
        // data argument passed is a clone and cannot be modified directly.
        return array;
    }
};

$('.selectpicker').selectpicker().filter('.with-ajax').ajaxSelectPicker(options)
$(document).on('click', '#ajax-select-add', function(){
    var toIDArray = $("#ajax-select").val();
    var index, len;
    for (index = 0, len = toIDArray.length; index < len; ++index) {
         var jqxhr = $.post( Urls['ajax_main:relThreadParticipant']({{ obj.pk }}, toIDArray[index], "add") );
    }
    jqxhr.done(function() {
         window.location.href = addQSParm(window.location.href, "ua", "1");
    });
})
$(document).on('click', '#ajax-select-clear', function(){
    $("#ajax-select").val('').trigger('change');
})
</script>
{% endblock %}
